<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <#if INCLUDED_HEAD?exists><#include INCLUDED_HEAD></#if>
    <#if INCLUDED_HEAD_INSERT_FORM?exists><#include INCLUDED_HEAD_INSERT_FORM></#if>
    
    <script type="text/javascript">
	
		$(function(){
			
			$("#LISTA_AZIENDE").trigger("loadDataSet",["DataSetAziende","CODICE","RAGSOC","<#if AZIENDA_TENDINA?exists>${AZIENDA_TENDINA}</#if>"," WHERE 1=1 "]);
			

			$("#Ricerca").submit(function(event) {
				/* stop form from submitting normally */
				event.preventDefault();			
			
				if (!$("#Ricerca").valid()) {
					return false;
				}
				
				
				tokenizeOptionSelected("LISTA_AZIENDE","AZIENDA_TENDINA");

				/* Send the data using post */
				$.post( $( this ).attr( 'action' ), $(this).serialize(),function( response ) { 
					var result = eval('('+response+')');
					$( ".alert-success" ).text( result.message ).fadeIn( "slow").delay( 1500 ).fadeOut("slow" );
				});

			});

		});
		
    </script>     

</head>

<body>

	<form action="astro" method="post" id="formDelete" name="formDelete">
		<input type="hidden" id="FUNCTIONID" name="FUNCTIONID" value="InserimentoCurriculum">
		<input type="hidden" id="OPERATION_TYPE" name="OPERATION_TYPE" value="DELETE">
		<input type="hidden" id="keyField" name="keyField" value="TAGGANCIO">
		<input type="hidden" id="TAGGANCIO" name="TAGGANCIO">
	</form>

      <div id="wrapper">

    	<#if INCLUDED_MENU?exists><#include INCLUDED_MENU></#if>

        <div id="page-wrapper" class="gray-bg">
        	<#if INCLUDED_HEADER?exists><#include INCLUDED_HEADER></#if>
        
        	<div class="wrapper wrapper-content animated fadeInRight">
            	<div class="row">
            		<div class="col-lg-12">

	                	<div class="ibox float-e-margins">
		            	    <#include "include/included_box_title.include">
		            
		            	    
			            	<div class="ibox-content">
		            	   		 <form action="astro" method="post" id="Ricerca">
		            	    		<input type="hidden" id="FUNCTIONID" name="FUNCTIONID" value="RicercaCurriculum" />
		            	    		<input type="hidden" id="AZIENDA_TENDINA" name="AZIENDA_TENDINA">
		            	    		
			            	    	<div class="row">
		                	            <div class="col-md-3">
				        	        		<label class="font-normal">${label_code}</label>
			                	            <input type="text" class="form-control" name="CODICE" id="CODICE" value="<#if CODICE?exists>${CODICE}</#if>">
							            </div>
							             
							            <div class="col-md-3">
				        	        		<label class="font-normal">${label_cognome}</label>
			                	            <input type="text" class="form-control" name="COGNOME" id="COGNOME" value="<#if COGNOME?exists>${COGNOME}</#if>">
							            </div>	
							            
							            <div class="col-md-3">
							                <label class="font-normal">${label_nome}</label>
			                	            <input type="text" class="form-control" name="NOME" id="NOME" value="<#if NOME?exists>${NOME}</#if>">
							            </div>	
							            
							            <div class="col-md-3">
				        	        		<label class="font-normal">${label_sex}</label>
							                <div class="input-group">
								                <select name="SESSO" id="SESSO" data-placeholder="Scegli un'opzione..." class="form-control m-b" style="width:350px;" tabindex="4">
								                	<option value="">Seleziona</option>
									    			<option value="M" <#if SESSO?exists><#if SESSO='M'>selected</#if></#if>>Maschio</option>
									    			<option value="F" <#if SESSO?exists><#if SESSO='F'>selected</#if></#if>>Femmina</option>
								                </select>
							                </div>
							            </div>		
							            
							            
							            
							            		             
				        	        </div>             <!-- chiude row -->
				        	        
				        	        
				        	        <div class="row">
				        	        	<div class="col-md-3">
				        	        		<label class="font-normal">${label_residence_domicile}</label>
			                	            <input type="text" class="form-control" name="RESIDENZA_DOMICILIO" id="RESIDENZA_DOMICILIO" value="<#if RESIDENZA_DOMICILIO?exists>${RESIDENZA_DOMICILIO}</#if>">
							            </div>
							            
		                	            <!-- <div class="col-md-3">
				        	        		<label class="font-normal">${label_company}</label>
							                <div class="input-group">
								                <select id="LISTA_AZIENDE" name="LISTA_AZIENDE" class="form-control" multiple></select>
							                </div>
							            </div> -->
							            
							            <div class="col-md-3">
							            	<div class="form-group" id="data_1">
					    	            		<label class="font-normal">${label_reg_date_from}</label>
								                <div class="input-group date">
			            	                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input name="D_REGISTRAZ_DA" id="D_REGISTRAZ_DA" type="text" class="form-control" value="<#if DATA_DAL_FP?exists>${DATA_DAL_FP}</#if>">
			            	                    </div>
			            	                </div>
							            </div>		
							            
							            <div class="col-md-3">
							            	<div class="form-group" id="data_1">
					    	            		<label class="font-normal">${label_reg_date_to}</label>
								                <div class="input-group date">
			            	                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input name="D_REGISTRAZ_A" id="D_REGISTRAZ_A" type="text" class="form-control" value="<#if DATA_AL_FP?exists>${DATA_AL_FP}</#if>">
			            	                    </div>
		                	                </div>
							            </div>		
							            
							            	             
				        	        </div>             <!-- chiude row -->
				        	     </form>   
				        	        
				        	        
			        	        <div class="row">
			        	        	<div class="hr-separator"></div>
	                	            <div class="form-group">
	                	                <div class="col-sm-12">
	                	                <!--<div class="col-sm-12 col-sm-offset-4">--> <!-- per centrare i tasti -->
                	                    	<button class="btn btn-white btn-sm" id="nuovo" type="submit" name="nuovo">${label_new_insert}</button>
	                	                    <button class="btn btn-primary btn-sm" id="cerca" type="submit" name="cerca">${label_search}</button>
	                	                </div>
	                	            </div>
			        	        </div>
			        	        
		            	    </div>   <!-- chiude box content -->
	                	</div>       <!-- chiude ibox float-e-margins -->     
					</div> <!-- chiude col-lg-12 -->
				</div> <!-- chiude row -->
            
                
            
                                
                                
            
            
            
           

            
            
            		<!-- inizia la tabella-->
            
            
            	<div class="row">
            	    <div class="col-lg-12">
            	    	<div class="ibox float-e-margins">
            	    	    <div class="ibox-content">
            	    	        <div class="table-responsive">
            	    	   			<table id="dt" class="table table-striped table-bordered table-hover dataTables-example" >
            	    	    			<thead>
            	    	    				<tr>
            	    	    					<th></th>
            	    	    					<th></th>
            	    	    					<th>${label_company}</th>
						                        <th>${label_code}</th>
						                        <th>${label_cognome}</th>
						                        <th>${label_nome}</th>
						                        <th>${label_sex}</th>
						                        <th>${label_age}</th>
						                        <th>${label_residence}</th>
						                        <th>${label_domicile}</th>
						                    </tr>
            	    	    			</thead>
            	    	    			
            	    	    		</table>
            	    	        </div> <!-- chiude table responsive -->
            	    	
            	    	    </div> <!-- chiude ibox-content -->
            	    	</div>	<!-- ibox float-e-margins -->
            	    </div>	<!-- chiude col 12 lg -->
            	</div>	<!-- chiude row -->
            	
            	<!-- finisce la tabella -->                    
                    
        	</div>	<!-- chiude wrapper wrapper-content animated fadeInRight -->
        
        
        	<#if INCLUDED_FOOTER?exists><#include INCLUDED_FOOTER></#if>
        	
        </div>
	</div>


    <script>
        $(document).ready(function(){
	        
	        
	        $('#dt').DataTable({
				ajax: "astro?FUNCTIONID=AJAXArray&dataset=DSCurriculum&columns=CODICE,CODICE,RAGSOC,CODICE,COGNOME,NOME,SESSO,ETA,LOCRESIDENZ,LOCDOMICIL&WHERECONDITION=",
				columnDefs: [
					{
						targets:0,
						orderable: false,
						render: function ( data, type, row, meta ) {
							if(type === 'display'){
								data = '<a href="astro?FUNCTIONID=InserimentoCurriculum&TAGGANCIO=' + data + '" title="${label_edit}"><i class="fa fa-pencil fa-color-auto" aria-hidden="true"></i></a>';
							}

							return data;
						}
					},
					{
						targets:1,
						orderable: false,
						render: function ( data, type, row, meta ) {
							if(type === 'display'){
								data = '<a href="#" onclick="deleteRow('+data+');" title="${label_delete}"><i class="fa fa-trash-o fa-color-auto" aria-hidden="true"></i></a>';
							}

							return data;
						}
					}
				],
				
                dom: '<"html5buttons"B>lTfgitp',
                language: {
			        url: 'locales/${CURRENT_SELECTED_ISO_LANGUAGE}.json'
			    },
    
                buttons: [
                    {extend: 'csv'},
                    {extend: 'excel', title: $(document).find("title").text()},
                    {extend: 'pdf', title: $(document).find("title").text(), orientation: 'landscape'},
                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });
            
            
            $('#data_1 .input-group.date').datepicker({
	            format: "dd/mm/yyyy",
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });
        });
    </script>
    
    <script type="text/javascript">

    	$(function(){
			$('#nuovo').click(function() {
			      window.location.href = "astro?FUNCTIONID=InserimentoCurricula" ;
			});
			$('#cerca').click(function() {
			      $("#Ricerca").submit();
			});
		});
    </script> 
    

</body>

</html>
