<!DOCTYPE html>
<html>
<head>
	<#if INCLUDED_HEAD?exists><#include INCLUDED_HEAD></#if>
	
	<style>
		.gestioneInterferenze {
			color:white;
		}
		
		a,a:link,a:active,a:visited,a:hover { 
		  color:white;
		}

	</style>
	
	<script type="text/javascript">
    
    	var flagRicerca=false;
		var dtAjax="astro?FUNCTIONID=AJAXArray&dataset=DSPDLRichieste&columns=ID_PDL,ID_PDL,ID_PDL,ID_PDL,ID_PDL,ID_PDL,ID_PDL,ID_PDL,ID_PDL,STATO,NR_PDL,LISTA_NR_PDL,LISTA_ID_PDL,DT_PDL,DESCR_STATO,DESCR_IMPIANTO,DESCR_AREA,DESCR_EQUIPMENT,DESCRIZIONE_LAVORO,NOMINATIVO_RICHIEDENTE,RESPONSABILE_CENTRALE_DELEGATO,IMPRESA_TESTO,NOME_COGNOME_PREPOSTO_IMPRESA,NOME_COGNOME_PREPOSTO_IMPRESA_2,FLG_PERSONALE_INTERNO,NOME_COGNOME_DELEGATO_LAVORI_AL,NOME_COGNOME_DELEGATO_LAVORI_AL_2,ODL,MOTIVO_SOSPENSIONE,MOTIVO_SCADENZA,STATO_FERMATA,VERIFICATI_PREVENTIVI,UTENTE_VERIFICA_FINALE,DATA_VERIFICA_FINALE,ORA_VERIFICA_FINALE,RISP_VERIFICA_FINALE,PROCESSATO,PROCESSATO_PREVENTIVO_SITUAZIONE_CAMBIATA,CANCELLATO,UTENTE_PRIMA_ATTIVAZIONE,DT_PRIMA_ATTIVAZIONE,UTENTE_ULTIMA_ATTIVAZIONE,DATA_ULTIMA_ATTIVAZIONE,ORA_UTLIMA_ATTIVAZIONE,REVISIONE,MOTIVAZIONE&JOLLY_CHAR=*&WHERECONDITION=";
		var dtWhereCondition=" <#if ANNO?exists> AND SUBSTRING(pdl.DT_PDL,1,4) = '${ANNO}' </#if> <#if ID_EQUIPMENT?exists> AND pdl.ID_EQUIPMENT=${ID_EQUIPMENT} </#if> AND pdl.STATO IN ('WAI') AND NOT CANCELLATO";
		var profilo="<#if PROFILO?exists>${PROFILO}</#if>";
		
		
		$(function(){
			
			<#if PROFILO?contains('NEW') || PROFILO?contains('SPL') || PROFILO?contains('ADM') || PROFILO?contains('PLA')>  
			<#else>
				$('#modalAvvisoDuplicazione').modal({
			        backdrop: 'static', // Impedisce la chiusura cliccando fuori dalla modal
			        keyboard: false,    // Impedisce la chiusura con il tasto ESC
			        show: true
			    });
			</#if>
			
			$("#ID_AZIENDA").trigger("loadDataSet",["DSSitiPDL","ID_AZIENDA","RAGSOC","<#if ID_AZIENDA?exists>${ID_AZIENDA}</#if>"," WHERE 1=1 "]);
			$("#ID_IMPIANTO").trigger("loadDataSet",["DSImpianti","ID_IMPIANTO","DESCR_IMPIANTO","<#if ID_IMPIANTO?exists>${ID_IMPIANTO}</#if>"," WHERE 1=1 "]);
			$("#ID_AREA").trigger("loadDataSet",["DSAreaLavoro","ID_AREA","DESCR_AREA","<#if ID_AREA?exists>${ID_AREA}</#if>"," WHERE 1=1 "]);
			$("#ID_EQUIPMENT").trigger("loadDataSet",["DSEquipment","ID_EQUIPMENT","DESCR_EQUIPMENT","<#if ID_EQUIPMENT?exists>${ID_EQUIPMENT}</#if>","<#if ID_AREA?exists> WHERE ID_AREA=${ID_AREA} <#else> WHERE 1=0 </#if> "]);
			$("#IMPRESA_TESTO").trigger("loadDataSet",["DSImprese","NOME_IMPRESA","NOME_IMPRESA",""," WHERE 1=1 "]);
			$("#STATO").trigger("loadDataSet",["DSParametri","CODICE","DESCRIZIONE","WAI"," WHERE DOMINIO='SPL' "]);
			$("#ANNO").trigger("loadDataSet",["OpzioneAnno","CODICE","DESCR","<#if ANNO?exists>${ANNO}</#if>",""]);
			$("#RESPONSABILE_CENTRALE_DELEGATO").trigger("loadDataSet",["DSResponsabileCentraleDelegato","NOME_COGNOME","NOME_COGNOME",""," WHERE PROFILO='RCD' "]);
			$("#NOMINATIVO_RICHIEDENTE").trigger("loadDataSet",["DSResponsabileCentraleDelegatoSito","NOME_COGNOME","NOME_COGNOME","","  WHERE PROFILO='PRE' "]);
			
			
			$("#FERMATA").trigger("loadDataSet",["OpzioneFermata","CODICE","DESCR","true;false",""]);

			
			$("#STATO").change(function(){
				var allOption=0;
				$("#STATO > option").each(function() {
					allOption=allOption+1;
				});
				selectedValue=$(this).val();
			    if (allOption!=selectedValue.length){
			    	$("#CHECKBOX_STATO").prop('checked',false);
			    }else{
			    	$("#CHECKBOX_STATO").prop('checked',true);
			    }
			});
			
			
			$("#FERMATA").change(function(){
				selectedValue=$(this).val();
			    if (selectedValue.length!=2){
			    	$("#CHECKBOX_FERMATA").prop('checked',false);
			    }else{
			    	$("#CHECKBOX_FERMATA").prop('checked',true);
			    }
			});
			
			
	        $("#CHECKBOX_STATO").click(function(){
	            if($("#CHECKBOX_STATO").is(':checked') ){
	                $("#STATO > option").prop("selected","selected");
	                $("#STATO").trigger("change");
	            }else{
	                $("#STATO > option").removeAttr("selected");
	                $("#STATO").trigger("change");
	             }
	        });
	        
	        
	        $("#CHECKBOX_FERMATA").click(function(){
	            if($("#CHECKBOX_FERMATA").is(':checked') ){
	                $("#FERMATA > option").prop("selected","selected");
	                $("#FERMATA").trigger("change");
	            }else{
	                $("#FERMATA > option").removeAttr("selected");
	                 $("#FERMATA").trigger("change");
	             }
	        });
			
			$("#ID_AZIENDA").on("select2:selecting", function(e) { 
				var id= e.params.args.data.id;
				$("#ID_IMPIANTO").empty();
				$("#ID_IMPIANTO").select2("destroy");
				$("#ID_IMPIANTO").trigger("loadDataSet",["DSImpianti","ID_IMPIANTO","DESCR_IMPIANTO",""," WHERE ID_AZIENDA="+id+" "]);
				
				$("#RESPONSABILE_CENTRALE_DELEGATO").empty();
				$("#RESPONSABILE_CENTRALE_DELEGATO").select2("destroy");
				$("#RESPONSABILE_CENTRALE_DELEGATO").trigger("loadDataSet",["DSResponsabileCentraleDelegatoSito","NOME_COGNOME","NOME_COGNOME",""," WHERE PROFILO='RCD' AND ID_AZIENDA="+id+" "]);

				$("#ID_AREA").val("").change();
				$("#ID_EQUIPMENT").val("").change();
				$("#RESPONSABILE_CENTRALE_DELEGATO").val("").change();
			});		        
			
			$("#ID_IMPIANTO").on("select2:selecting", function(e) { 
				var id= e.params.args.data.id;
				$("#ID_AREA").empty();
				$("#ID_AREA").select2("destroy");
				$("#ID_AREA").trigger("loadDataSet",["DSAreaLavoro","ID_AREA","DESCR_AREA",""," WHERE ID_IMPIANTO="+id+" "]);
				
				$("#ID_EQUIPMENT").val("").change();
			});	
			
			
			$("#ID_AREA").on("select2:selecting", function(e) { 
				var id= e.params.args.data.id;
				$("#ID_EQUIPMENT").empty();
				$("#ID_EQUIPMENT").select2("destroy");
				$("#ID_EQUIPMENT").trigger("loadDataSet",["DSEquipment","ID_EQUIPMENT","DESCR_EQUIPMENT",""," WHERE ID_AREA="+id+" "]);
			});	
			
			
	        $('#dt').DataTable({
				ajax: dtAjax+dtWhereCondition,
				pageLength:25,
				columnDefs: [
					{
						targets:0,
						visible: false,
					},
					{
						width:"1%",
						targets:1,
						orderable: false,
						data:null,
						render: function ( data, type, row, meta ) {
							if(type === 'display' ) {
								if (data[37]=="false") {
									data = '<a href="#" class="editRow" title="<#if PROFILO?contains('VPL') || (PROFILO?contains('INT') && !PROFILO?contains('CPT'))>${label_view}<#else>${label_edit}</#if>"><i class="fa <#if PROFILO?contains('VPL') || (PROFILO?contains('INT') && !PROFILO?contains('CPT'))>fa-search<#else>fa-pencil</#if> fa-color-auto" aria-hidden="true"></i></a>';
								} else {
									data = '<a href="#" class="editRow" title="<#if PROFILO?contains('VPL') || (PROFILO?contains('INT') && !PROFILO?contains('CPT'))>${label_view}<#else>${label_edit}</#if>"><i class="fa <#if PROFILO?contains('VPL') || (PROFILO?contains('INT') && !PROFILO?contains('CPT'))>fa-search<#else>fa-pencil</#if> fa-color-auto" aria-hidden="true"></i></a>';
								}
							}

							return data;
						}		
					},
					{
						visible: false,
						targets:2,					
					},
					{
						visible: true,
						width:"1%",
						targets:3,
						orderable: false,
						data:null,
			            render: function ( data, type, row, meta ) {
							if(type === 'display' ) {
								if (data[37]=="false") {
									data = '<a href="#" class="rejectRow" title="Rifiuta PdL"><i class="fa fa-thumbs-o-down fa-color-auto" aria-hidden="true"></i></a>';
								} else {
									data = '';
								}
							}

							return data;
						}		
					},
					{
						visible: false,
						targets:4,					
					},
					{
						targets:5,
						visible: false,
					},
					{
						targets:6,
						visible: false,
					},
					{
						targets:7,
						visible: false,
					},
					{
						targets:8,
						visible: false,
					},
					{
						visible: false,
						targets:9
					},
					{
						targets:11,
						render: function ( data, type, row, meta ) {
							if(type === 'display') {
								data = '<a href="#" class="gestioneInterferenze" title="Gestione interferenze ">'+data.split(",").join("<br/>")+'</a>';
							}
			                return data;
			            }
					},
					{
						visible: false,
						targets:12
					},
					{
						targets:13,
						type: "date-euro"
					},
					{
						targets:24,
						render: function ( data, type, row, meta ) {
							if(type === 'display' ) {
								if (data=="false") {
									data = '';
								} else {
									data = '<i class="fa fa-check" aria-hidden="true"></i>';
								}
							}

							return data;
						}	
					},
					{
						visible: false,
						targets:31
					},
					{
						visible: false,
						targets:36
					},
					{
						visible: false,
						targets:37
					},
					{
						targets:38,
						visible: false,
					},
					{
						targets:44,
						visible: true,
					},
				],
                dom: '<"html5buttons"B>lTfgitp',
                language: {
			        url: 'locales/${CURRENT_SELECTED_ISO_LANGUAGE}.json'
			    },
                buttons: [
                    {extend: 'csv'},
                    {extend: 'excel', title: $(document).find("title").text()},
                    {extend: 'pdf', name: 'pdf', title:"REPORT ", orientation: 'landscape'},
                ],
                "drawCallback": function( settings ) {
                	$(".dataTables_filter").hide();    
                	$(".html5buttons").hide();   
    	    		
                	var dataCount=$('#dt').DataTable().column( 0 ).data().length;
    	    		if(dataCount==0 && flagRicerca) {
    					$('.modal-title').html('Attenzione!');
    					$('.modal-text').html('Nessun risultato ottenuto: controllare i filtri impostati per la ricerca...');
    					$("#modalAlert").modal({backdrop: true});
    					$('#modalAlert').collapse("show");	    			
    	    		}
    	    		
                },
                'rowCallback': function(row, data, index){
                	if (data[38]=='true'){
                		$(row).find('td:eq(9)').css('background-color', 'yellow');
                	}
                	if (data[9]!='CLO'){
                		if(data[11]===''){
                     	 } else {
                     		if(data[31]===''){ 
                     			if (profilo.indexOf("RCD")!=-1 || profilo.indexOf("PLA")!=-1 || profilo.indexOf("ADM")!=-1) {
                     				if (data[36]=="true"){
                     					if (data[37]=="true"){
                     						$(row).find('td:eq(3)').css('background-color', 'red').css('color', 'white');
                     					}else{
                     						$(row).find('td:eq(3)').css('background-color', 'darkorange').css('color', 'white');
                     					}
                     					
                     				}else{
                     					$(row).find('td:eq(3)').css('background-color', 'red').css('color', 'white');
                     				}
                     				
                     			}else{
                     				if (profilo.indexOf("VPL")!=-1 ) {
                     					if (data[36]=="true"){
                     						if (data[37]=="true"){
                     							$(row).find('td:eq(4)').css('background-color', 'red').css('color', 'white');
                         					}else{
                         						$(row).find('td:eq(4)').css('background-color', 'darkorange').css('color', 'white');
                         					}
                     						
                     					}else{
                     						$(row).find('td:eq(4)').css('background-color', 'red').css('color', 'white');
                     					}
                     				}else{
                     					
                     					
                     					if (profilo.indexOf("INT")!=-1 ) {
                         					if (data[36]=="true"){
                         						if (data[37]=="true"){
                         							$(row).find('td:eq(8)').css('background-color', 'red').css('color', 'white');
                             					}else{
                             						$(row).find('td:eq(8)').css('background-color', 'darkorange').css('color', 'white');
                             					}
                         						
                         					}else{
                         						$(row).find('td:eq(8)').css('background-color', 'red').css('color', 'white');
                         					}
                         				}else{
                         					if (data[36]=="true"){
                         						if (data[37]=="true"){
                         							$(row).find('td:eq(9)').css('background-color', 'red').css('color', 'white');
                             					}else{
                             						$(row).find('td:eq(9)').css('background-color', 'darkorange').css('color', 'white');
                             					}
                         						
                             				}else{
                             					$(row).find('td:eq(9)').css('background-color', 'red').css('color', 'white');
                             				}
                         				}
                     					
                     					
                     					
                     				}
                        			
                     			}
                     		}else{
                     			if (profilo.indexOf("RCD")!=-1 || profilo.indexOf("PLA")!=-1 || profilo.indexOf("ADM")!=-1 ) {
                     				if (data[37]=="true"){
                     					$(row).find('td:eq(3)').css('background-color', 'red').css('color', 'white');
                     				}else{
                     					$(row).find('td:eq(3)').css('background-color', 'darkorange').css('color', 'white');
                     				}
                     				
                     			}else{
                     				if (profilo.indexOf("VPL")!=-1 ) {
                     					if (data[37]=="true"){
                     						$(row).find('td:eq(4)').css('background-color', 'red').css('color', 'white');
                     					}else{
                     						$(row).find('td:eq(4)').css('background-color', 'darkorange').css('color', 'white');
                     					}
                     					
                     				}else{
                     					
                     					if (profilo.indexOf("INT")!=-1 ) {
                         					if (data[37]=="true"){
                         						$(row).find('td:eq(8)').css('background-color', 'red').css('color', 'white');
                         					}else{
                         						$(row).find('td:eq(8)').css('background-color', 'darkorange').css('color', 'white');
                         					}
                         					
                         				}else{
                         					if (data[37]=="true"){
    											$(row).find('td:eq(9)').css('background-color', 'red').css('color', 'white');
                         					}else{
                         						$(row).find('td:eq(9)').css('background-color', 'darkorange').css('color', 'white');
                         					}
                         				}
										
                     					
                     				}
                     				
                     			}
                     			
                     		}
                     	 } 
                	}
                  	 
                  },                
	   			  aaSorting: []
            });


        	$('#free-text-search').keyup(function(){
	        	$('#dt').DataTable().search($(this).val()).draw() ;
	        })	        
		
			$("#formDelete").submit(function(event) {
				
				/* stop form from submitting normally */
				event.preventDefault();

				/* Send the data using post */
				$.post( $( this ).attr( 'action' ), $(this).serialize(),function( response ) { 
					var result = eval('('+response+')');
					$( "#dt" ).DataTable().ajax.reload();
					$( ".alert-success" ).text( result.message ).fadeIn("slow").delay(1500).fadeOut("slow");
				});
			});			
        	
			$("#formResume").submit(function(event) {
				
				/* stop form from submitting normally */
				event.preventDefault();

				/* Send the data using post */
				$.post( $( this ).attr( 'action' ), $(this).serialize(),function( response ) { 
					var result = eval('('+response+')');
					$( "#dt" ).DataTable().ajax.reload();
					$( ".alert-success" ).text( result.message ).fadeIn("slow").delay(1500).fadeOut("slow");
				});
			});			
        	
        	
			$("#formClone").submit(function(event) {
				
				/* stop form from submitting normally */
				event.preventDefault();

				/* Send the data using post */
				$.post( $( this ).attr( 'action' ), $(this).serialize(),function( response ) { 
					var result = eval('('+response+')');
					$( "#dt" ).DataTable().ajax.reload();
					$( ".alert-success" ).text( result.message ).fadeIn("slow").delay(1500).fadeOut("slow");
				});
			});		
			
			
			$("#formSearch").validate();
			
			$("#formSearch").submit(function(event) {
				
				/* stop form from submitting normally */
				event.preventDefault();			
	
				if (!$("#formSearch").valid()) {
					return false;
				}		
				
				flagRicerca=true;
				
				dtWhereCondition="";

	    		var idAzienda=$("#ID_AZIENDA").val();
	    		if (idAzienda != null && idAzienda != "") {
	    			dtWhereCondition+=" AND ID_AZIENDA = "+idAzienda+" ";
	    		}
	    		
	    		var idImpianto=$("#ID_IMPIANTO").val();
	    		if (idImpianto != null && idImpianto != "") {
	    			dtWhereCondition+=" AND ID_IMPIANTO = "+idImpianto+" ";
	    		}

	    		var idArea=$("#ID_AREA").val();
	    		if (idArea!=null && idArea != "") {
	    			dtWhereCondition+=" AND ID_AREA = "+idArea+" ";
	    		}

	    		var idEquipment=$("#ID_EQUIPMENT").val();
	    		if (idEquipment !=null && idEquipment != "") {
	    			dtWhereCondition+=" AND ID_EQUIPMENT = "+idEquipment+" ";
	    		}

	    		var responsabileCentraleDelegato=$("#RESPONSABILE_CENTRALE_DELEGATO").val();
	    		if (responsabileCentraleDelegato !=null && responsabileCentraleDelegato != "") {
	    			dtWhereCondition+=" AND UPPER(RESPONSABILE_CENTRALE_DELEGATO) = UPPER('"+responsabileCentraleDelegato+"') ";
	    		}
	    		
	    		var nominativoRichiedente=$("#NOMINATIVO_RICHIEDENTE").val();
	    		if (nominativoRichiedente !=null && nominativoRichiedente != "") {
	    			dtWhereCondition+=" AND UPPER(NOMINATIVO_RICHIEDENTE) = UPPER('"+nominativoRichiedente+"') ";
	    		}
	    		
	    		
	    		
	    			    		
	    		var titolo=$("#DESCRIZIONE_LAVORO").val();
	    		if (titolo != "") {
	    			dtWhereCondition+=" AND UPPER(DESCRIZIONE_LAVORO) LIKE UPPER('"+titolo+"') ";
	    		}
	    		
	    		var impresaTesto=$("#IMPRESA_TESTO").val();
	    		if (impresaTesto != "") {
	    			dtWhereCondition+=" AND UPPER(IMPRESA_TESTO) = UPPER('"+impresaTesto+"') ";
	    		}
	    		
	    		var anno=$("#ANNO").val();
	    		if (anno != "") {
	    			dtWhereCondition+=" AND SUBSTRING(DT_PDL,1,4) = '"+anno+"' ";
	    		}
	    		
	    		var stato=tokenizeInConditionFromOptionSelected("STATO","'");
	    		if (stato != "") {
	    			dtWhereCondition+=" AND STATO IN ("+stato+") ";
	    		}
	    		
	    		var nrPdl=$("#NR_PDL").val();
	    		if (nrPdl != "") {
	    			dtWhereCondition+=" AND NR_PDL LIKE '"+nrPdl+"*' ";
	    		}
	    		
	    		var odl=$("#ODL").val();
	    		if (odl != "") {
	    			dtWhereCondition+=" AND ODL LIKE '"+odl+"*' ";
	    		}
	    		
	    		var fermata=tokenizeInConditionFromOptionSelected("FERMATA","'");
	    		if (fermata != "") {
	    			dtWhereCondition+=" AND FLG_TA IN ("+fermata+") ";
	    		}
	    		
	    		<#if PROFILO?contains('PLA') || PROFILO?contains('SPL') || PROFILO?contains('ADM')>
	    			var cancellato=$("#CANCELLATO").is(':checked');
	    			if (cancellato){
		    			//dtWhereCondition+=" AND CANCELLATO";
	    			}else{
		    			dtWhereCondition+=" AND NOT CANCELLATO";
	    			}
				</#if>
	    		
	    		
	    		$( "#dt" ).DataTable().ajax.url( dtAjax+dtWhereCondition ).load();
				
			});			
			
	        $('#dt tbody').on( 'click', '.editRow', function () {
	        	var table = $('#dt').DataTable();
	            var data = table.row( $(this).parents('tr') ).data();
				$('#ID_PDL').val(data[1]);
				if(data[44]==='10'){
					$('#FUNCTIONID_EDIT').val("InserimentoPDLv9");
				}else{
					$('#FUNCTIONID_EDIT').val("InserimentoPDL");
				}
				
				$("#formEdit").submit();
	        } );
	        
	       
	        $('#dt tbody').on( 'click', '.rejectRow', function () {
	        	var table = $('#dt').DataTable();
	            var data = table.row( $(this).parents('tr') ).data();
	            var stato =data[7];
	            
				$('#ID_MODULO_AVANZAMENTO').val(data[0]);
				
				$('#ID_MODULO').val(data[0]);

				if (stato=='WAI') {
					$('#STATO_AVANZAMENTO').val("REJ");
				} 
				
				$('#WORKFLOW_ACTION').val("REJECT");
				
				$('.modal-title').html('Rifiuto Modulo');
				$('.modal-text').html('Confermi il rifiuto del modulo selezionato?');
				$("#modalQuestionDialogAvanzamento").modal({backdrop: true});
				$('#modalQuestionDialogAvanzamento').collapse("show");
	        } );	   
	    	
	    	
	    	$( "#report" ).click(function() {
	    		var dataCount=$('#dt').DataTable().column( 0 ).data().length;
	    		if(dataCount>200) {
					$('.modal-title').html('Attenzione!');
					$('.modal-text').html('Il report che si desidera stampare supera le 200 righe. Si consiglia di restringere la ricerca');
					$("#modalAlert").modal({backdrop: true});
					$('#modalAlert').collapse("show");	    			
	    		} else {
		    		$('#dt').DataTable().button( 2 ).trigger();
	    		}
	    		
	    	});
	    	
	    	$( "#excel" ).click(function() {
	    		$('#dt').DataTable().button( 1 ).trigger();
	    	});
	    	
	    	$( "#csv" ).click(function() {
	    		$('#dt').DataTable().button( 0 ).trigger();
	    	});
	    	
	    	

	        $('#dt tbody').on( 'click', '.gestioneInterferenze', function () {
	        	//$('#keyField').val("ID_PDL");
				//$('#keyValue').val(data[1]);
				var table = $('#dt').DataTable();
	            var data = table.row( $(this).parents('tr') ).data();
	            
	            if (data[9]!='CLO'){
	            
		            if(data[11]===''){
	             	 } else {
	             		if(data[31]===''){ 
	             			if (profilo.indexOf("RCD")!=-1 || profilo.indexOf("PLA")!=-1 || profilo.indexOf("ADM")!=-1 ) {
	             				if (data[36]=="true"){
	             					if (data[37]=="true"){
	             						$('#ID_PDL').val(data[1]);
		            					$('#ID_PDL_VERIFICA').val(data[1]);
		            					$('#RISPOSTA_VERIFICA').val("S");
		            					nrPdl= data[10];
		            					$('#FUNCTIONID_EDIT').val("InserimentoPDL");
		            					$('.modal-title').html('Attenzione');
		            					$('.modal-text').html('Si vuole verificare preventivamente la possibile interferenza prima che il verificatore/turnista attivi il permesso '+nrPdl+' ?');
		            					$("#modalQuestionDialogInterferenze").modal({backdrop: true});
		            					$('#modalQuestionDialogInterferenze').collapse("show");
                 					}else{
                 						$('.modal-title').html('Attenzione');
                 						$('.modal-text').html("Possibile interferenza già processata.<br/> Se si vuole modificare l'azione andare su modifica permesso");
    	            					$("#modalAlert").modal({backdrop: true});
    	            					$('#modalAlert').collapse("show");
                 					}
	             					
	             				}else{
	             					$('#ID_PDL').val(data[1]);
	            					$('#ID_PDL_VERIFICA').val(data[1]);
	            					$('#RISPOSTA_VERIFICA').val("S");
	            					nrPdl= data[10];
	            					$('#FUNCTIONID_EDIT').val("InserimentoPDL");
	            					$('.modal-title').html('Attenzione');
	            					$('.modal-text').html('Si vuole verificare preventivamente la possibile interferenza prima che il verificatore/turnista attivi il permesso '+nrPdl+' ?');
	            					$("#modalQuestionDialogInterferenze").modal({backdrop: true});
	            					$('#modalQuestionDialogInterferenze').collapse("show");
	             				}
	             				
	             			}else{
	             				if (profilo.indexOf("VPL")!=-1 ) {
	             					if (data[36]=="true"){
										if (data[37]=="true"){
											$('#ID_PDL').val(data[1]);
		             						$('#ID_PDL_VERIFICA').val(data[1]);
		             						$('#RISPOSTA_VERIFICA').val("S");
		             						nrPdl= data[10];
		             						$('#FUNCTIONID_EDIT').val("InserimentoPDL");
		             						$('.modal-title').html('Attenzione');
		             						$('.modal-text').html('Si vuole verificare preventivamente la possibile interferenza prima che il verificatore/turnista attivi il permesso '+nrPdl+' ?');
		             						$("#modalQuestionDialogInterferenze").modal({backdrop: true});
		             						$('#modalQuestionDialogInterferenze').collapse("show");
                     					}else{
                     						$('.modal-title').html('Attenzione');
                     						$('.modal-text').html("Possibile interferenza già processata.<br/> Se si vuole modificare l'azione andare su modifica permesso");
    	                					$("#modalAlert").modal({backdrop: true});
    	                					$('#modalAlert').collapse("show");
                     					}
	             						
	             					}else{
	             						$('#ID_PDL').val(data[1]);
	             						$('#ID_PDL_VERIFICA').val(data[1]);
	             						$('#RISPOSTA_VERIFICA').val("S");
	             						nrPdl= data[10];
	             						$('#FUNCTIONID_EDIT').val("InserimentoPDL");
	             						$('.modal-title').html('Attenzione');
	             						$('.modal-text').html('Si vuole verificare preventivamente la possibile interferenza prima che il verificatore/turnista attivi il permesso '+nrPdl+' ?');
	             						$("#modalQuestionDialogInterferenze").modal({backdrop: true});
	             						$('#modalQuestionDialogInterferenze').collapse("show");
	             					}
	             				}else{
	             					if (data[36]=="true"){
										if (data[37]=="true"){
											$('#ID_PDL').val(data[1]);
		                					$('#ID_PDL_VERIFICA').val(data[1]);
		                					$('#RISPOSTA_VERIFICA').val("S");
		                					nrPdl= data[10];
		                					$('#FUNCTIONID_EDIT').val("InserimentoPDL");
		                					$('.modal-title').html('Attenzione');
		                					$('.modal-text').html('Si vuole verificare preventivamente la possibile interferenza prima che il verificatore/turnista attivi il permesso '+nrPdl+' ?');
		                					$("#modalQuestionDialogInterferenze").modal({backdrop: true});
		                					$('#modalQuestionDialogInterferenze').collapse("show");
                     					}else{
                     						$('.modal-title').html('Attenzione');
                     						$('.modal-text').html("Possibile interferenza già processata.<br/> Se si vuole modificare l'azione andare su modifica permesso");
    	                					$("#modalAlert").modal({backdrop: true});
    	                					$('#modalAlert').collapse("show");
                     					}
	             						
	                 				}else{
	                 					$('#ID_PDL').val(data[1]);
	                					$('#ID_PDL_VERIFICA').val(data[1]);
	                					$('#RISPOSTA_VERIFICA').val("S");
	                					nrPdl= data[10];
	                					$('#FUNCTIONID_EDIT').val("InserimentoPDL");
	                					$('.modal-title').html('Attenzione');
	                					$('.modal-text').html('Si vuole verificare preventivamente la possibile interferenza prima che il verificatore/turnista attivi il permesso '+nrPdl+' ?');
	                					$("#modalQuestionDialogInterferenze").modal({backdrop: true});
	                					$('#modalQuestionDialogInterferenze').collapse("show");
	                 				}
	             					
	             				}
	                			
	             			}
	             		}else{
	             			if (data[37]=="true"){
	             				$('#ID_PDL').val(data[1]);
            					$('#ID_PDL_VERIFICA').val(data[1]);
            					$('#RISPOSTA_VERIFICA').val("S");
            					nrPdl= data[10];
            					$('#FUNCTIONID_EDIT').val("InserimentoPDL");
            					$('.modal-title').html('Attenzione');
            					$('.modal-text').html('Si vuole verificare preventivamente la possibile interferenza prima che il verificatore/turnista attivi il permesso '+nrPdl+' ?');
            					$("#modalQuestionDialogInterferenze").modal({backdrop: true});
            					$('#modalQuestionDialogInterferenze').collapse("show");
	             			}else{
	             				$('.modal-title').html('Attenzione');
		    					$('.modal-text').html("Possibile interferenza già processata.<br/> Se si vuole modificare l'azione andare su modifica permesso");
		    					$("#modalAlert").modal({backdrop: true});
		    					$('#modalAlert').collapse("show");
	             			}
	             			
	             		}
	             	 } 
	            
	            
	            }
	            
	            	
	            
	            
				
	        } );
	    	
	    	
	    	
	        $("#formAvanza").submit(function(event) {
	            
	            /* stop form from submitting normally */
	            event.preventDefault();
	            
	            var id = $("#ID_MODULO_AVANZAMENTO").val();
	            var stato = $("#STATO_AVANZAMENTO").val();
	            
	            // Recuperiamo il valore della MOTIVAZIONE dalla modale
	            var motivazione = $("#MOTIVAZIONE").val();
	            $("#HIDDEN_MOTIVAZIONE").val(motivazione);

	            /* Preparazione dati: serializziamo il form e aggiungiamo manualmente la motivazione 
	               se non fosse già contenuta nel form */
	            var formData = $(this).serialize();
	           

	            /* Send the data using post */
	            $.post($(this).attr('action'), formData, function(response) { 
	                // Nota: eval è sconsigliato, ma mantengo la tua logica. Meglio sarebbe JSON.parse(response)
	                var result = eval('(' + response + ')');
	                $("#dt").DataTable().ajax.reload();                    
	                $(".alert-success").text(result.message).fadeIn("slow").delay(1500).fadeOut("slow");
	                
	                // Puliamo la textarea per il prossimo utilizzo
	                $("#MOTIVAZIONE").val("");
	                $("#HIDDEN_MOTIVAZIONE").val("");
	            });
	        });
			
			
			
			$("#formVerifica").submit(function(event) {
				
				/* stop form from submitting normally */
				event.preventDefault();
		        var risposta=$("#RISPOSTA_VERIFICA").val();
			
				/* Send the data using post */
				$.post( $( this ).attr( 'action' ), $(this).serialize(),function( response ) { 
					var result = eval('('+response+')');
					$( "#dt" ).DataTable().ajax.reload();
					
					if (risposta=="S") {
						$('#formEdit').submit();
					}
				});
			});		
			
			
			
			
		});	        
		
		
		
		


		 $(document).ready(function (){
		    // Array holding selected row IDs
		    var rows_selected = [];
		    var table = $('#dt').DataTable();

		    // Handle click on checkbox
		    $('#dt tbody').on('click', 'input[type="checkbox"]', function(e){
		       var $row = $(this).closest('tr');

		       // Get row data
		       var data = table.row($row).data();

		       // Get row ID
		       var rowId = data[0];

		       // Determine whether row ID is in the list of selected row IDs 
		       var index = $.inArray(rowId, rows_selected);

		       // If checkbox is checked and row ID is not in list of selected row IDs
		       if(this.checked && index === -1){
		          rows_selected.push(rowId);

		       // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
		       } else if (!this.checked && index !== -1){
		          rows_selected.splice(index, 1);
		       }

		       if(this.checked){
		          $row.addClass('selected');
		       } else {
		          $row.removeClass('selected');
		       }

		      

		       // Prevent click event from propagating to parent
		       e.stopPropagation();
		    });

		    // Handle click on table cells with checkboxes
		    $('#dt').on('click', 'tbody td, thead th:first-child', function(e){
		       $(this).parent().find('input[type="checkbox"]').trigger('click');
		    });

		  
		    // Handle form submission event 
		    $( "#stampa" ).click(function() {
		    	$("#modalQuestionDialogDataPDLRaccolta").modal({backdrop: true});
				$('#modalQuestionDialogDataPDLRaccolta').collapse("show");
		    });	
		    
		 // Handle form submission event 
		    $( "#zipA3" ).click(function() {
		    	$("#modalQuestionDialogDataPDLRaccoltaA3").modal({backdrop: true});
				$('#modalQuestionDialogDataPDLRaccoltaA3').collapse("show");
		    });	
		    
		    
		    $("#formStampaZipA4").submit(function(event) {
				event.preventDefault();
				var count=0;
				var arraySelezionati = [];
				
		       // Iterate over all selected checkboxes
		       $.each(rows_selected, function(index, rowId){
		          // Create a hidden element
		          count++;
		         arraySelezionati.push(rowId);
		       });
		       
		       $('#ID_MODULO_STAMPA_MULTIPLI').val(arraySelezionati);
			 
   			   $('#ID_PDL_STAMPA_MULTIPLI').val(arraySelezionati[0]);
			   $('#FORMATO_STAMPA_MULTIPLI').val('A4');
			   $("#formStampaPDLMultipli").submit();
			   
			   
		    });
		    
		    
		    // Handle form submission event 
		     $("#formStampaZipA3").submit(function(event) {
				event.preventDefault();
				var count=0;
				var arraySelezionati = [];
				
		       // Iterate over all selected checkboxes
		       $.each(rows_selected, function(index, rowId){
		          // Create a hidden element
		          count++;
		         //alert(rowId);
		         arraySelezionati.push(rowId);
		       });
		       
		       
		       $('#ID_MODULO_STAMPA_MULTIPLI').val(arraySelezionati);
			   
		       //alert(arraySelezionati);
		       
   			   //$('#ID_PDL_STAMPA').val(data[0]);
   			   $('#ID_PDL_STAMPA_MULTIPLI').val(arraySelezionati[0]);
			   $('#FORMATO_STAMPA_MULTIPLI').val('A3');
			   $("#formStampaPDLMultipli").submit();
			   
			   
		    });

		    $("#formStampa").submit(function(event) {
				event.preventDefault();
				this.submit();
				setTimeout(function(){
					$( "#dt" ).DataTable().ajax.reload();
				}, 100);
			});		
		    
		    
		    $("#formStampaPDLMultipli").submit(function(event) {
				event.preventDefault();
				this.submit();
				setTimeout(function(){
					$( "#dt" ).DataTable().ajax.reload();
				}, 100);
			});		
			
		 });
		
    </script> 

</head>

<body>

	<form action="astro" method="post" id="formStampa" name="formStampa">
		<input type="hidden" id="FUNCTIONID" name="FUNCTIONID" value="StampaPDL">	
		<input type="hidden" id="ID_PDL_STAMPA" name="ID_PDL">
		<input type="hidden" id="REVISIONE" name="REVISIONE">
		<input type="hidden" id="FORMATO_STAMPA" name="FORMATO_STAMPA">
		<input type="hidden" id="LINGUA_STAMPA" name="LINGUA_STAMPA">
		<input type="hidden" id="ID_MODULO_STAMPA" name="ID_MODULO_STAMPA">
		<input type="hidden" id="DATA_OGGI" name="DATA_OGGI">
	</form>
	
	<form action="astro" method="post" id="formStampaZipA4" name="formStampaZipA4">
	</form>
	
	<form action="astro" method="post" id="formStampaZipA3" name="formStampaZipA3">
	</form>
	
	<form action="astro" method="post" id="formStampaPDLMultipli" name="formStampaPDLMultipli">
		<input type="hidden" id="FUNCTIONID" name="FUNCTIONID" value="StampaPDLMultipli">	
		<input type="hidden" id="ID_PDL_STAMPA_MULTIPLI" name="ID_PDL">
		<input type="hidden" id="FORMATO_STAMPA_MULTIPLI" name="FORMATO_STAMPA">
		<input type="hidden" id="ID_MODULO_STAMPA_MULTIPLI" name="ID_MODULO_STAMPA">
		<input type="hidden" id="DATA_OGGI_ZIP" name="DATA_OGGI_ZIP">
	</form>

	<form action="astro" method="post" id="formDelete" name="formDelete">
		<input type="hidden" id="FUNCTIONID_DELETE" name="FUNCTIONID">
		<input type="hidden" name="OPERATION_TYPE" value="CANCELLA">
		<input type="hidden" id="keyField" name="keyField">
		<input type="hidden" id="keyValue" name="keyValue">
	</form>
	
	<form action="astro" method="post" id="formResume" name="formResume">
		<input type="hidden" id="FUNCTIONID_RESUME" name="FUNCTIONID">
		<input type="hidden" name="OPERATION_TYPE" value="RESUME">
		<input type="hidden" id="keyFieldResume" name="keyField">
		<input type="hidden" id="keyValueResume" name="keyValue">
	</form>
	
	<form action="astro" method="get" id="formEdit" name="formEdit">
		<input type="hidden" id="FUNCTIONID_EDIT" name="FUNCTIONID">
		<input type="hidden" name="OPERATION_TYPE" value="UPDATE">
		<input type="hidden" id="ID_PDL" name="ID_PDL">
		<input type="hidden" id="RISPOSTA_VERIFICA_EDIT" name="RISPOSTA_VERIFICA">
	</form>		
	
	<form action="astro" method="post" id="formClone" name="formClone">
		<input type="hidden" id="FUNCTIONID_CLONE" name="FUNCTIONID" value="DuplicaPDL">
		<input type="hidden" id="OPERATION_TYPE_CLONE" name="OPERATION_TYPE" value="UPDATE">
		<input type="hidden" id="ID_PDL_CLONE" name="ID_PDL">
	</form>
	
	<form action="astro" id="formAvanza" name="formAvanza" method="post">
		<input type="hidden" id="FUNCTIONID" name="FUNCTIONID" value="ApprovalWorkFlow">
		<input type="hidden" id="MODULO" name="MODULO" value="pdl">
		<input type="hidden" id="ID_MODULO_AVANZAMENTO" name="ID_MODULO">
		<input type="hidden" id="STATO_AVANZAMENTO" name="STATO">
		<input type="hidden" id="OPERATION_TYPE_AVANZAMENTO" name="OPERATION_TYPE" value="UPDATE">
		<input type="hidden" id="WORKFLOW_ACTION" name="WORKFLOW_ACTION">
		<input type="hidden" id="HIDDEN_MOTIVAZIONE" name="MOTIVAZIONE">
	</form>
	
	
	
	<form action="astro" id="formVerifica" name="formVerifica" method="post">
		<input type="hidden" id="FUNCTIONID" name="FUNCTIONID" value="RispostaVerificaInterferenza">
		<input type="hidden" id="ID_PDL_VERIFICA" name="ID_PDL">
		<input type="hidden" id="RISPOSTA_VERIFICA" name="RISPOSTA_VERIFICA">
		<input type="hidden" name="OPERATION_TYPE" value="UPDATE">
	</form>
	
	

	<div class="modal inmodal fade" id="modalAlert" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header"><span class="modal-title"></span></div>
				<div class="modal-body"><span class="modal-text"></span></div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-white btn-sm" onclick="$('#modalAlert').collapse('hide');">${label_ok}</button>
				</div>
			</div>
		</div>
	</div>		
	
	<div class="modal inmodal fade" id="modalQuestionDialogClone" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header"><span class="modal-title"></span></div>
				<div class="modal-body"><span class="modal-text"></span></div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-white btn-sm" onclick="$('#modalQuestionDialogClone').collapse('hide');">${label_no}</button>
					<button class="btn btn-primary btn-sm" onclick="$('#modalQuestionDialogClone').collapse('toggle');$('#formClone').submit();" data-dismiss="modal" type="button">${label_si}</button>
				</div>
			</div>
		</div>
	</div>	
		
	<div class="modal inmodal fade" id="modalQuestionDialog" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header"><span class="modal-title"></span></div>
				<div class="modal-body"><span class="modal-text"></span></div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-white btn-sm" onclick="$('#modalQuestionDialog').collapse('hide');">${label_no}</button>
					<button class="btn btn-primary btn-sm" onclick="$('#modalQuestionDialog').collapse('toggle');$('#formDelete').submit();" data-dismiss="modal" type="button">${label_si}</button>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="modal inmodal fade" id="modalQuestionDialogResume" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header"><span class="modal-title"></span></div>
				<div class="modal-body"><span class="modal-text"></span></div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-white btn-sm" onclick="$('#modalQuestionDialogResume').collapse('hide');">${label_no}</button>
					<button class="btn btn-primary btn-sm" onclick="$('#modalQuestionDialogResume').collapse('toggle');$('#formResume').submit();" data-dismiss="modal" type="button">${label_si}</button>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="modal inmodal fade" id="modalQuestionDialogPrint" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header"><span class="modal-title"></span></div>
				<div class="modal-body"><span class="modal-text"></span></div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-white btn-sm" onclick="$('#modalQuestionDialog').collapse('hide');">${label_no}</button>
					<button class="btn btn-primary btn-sm"  data-dismiss="modal"  data-toggle="modal"  onclick="$('#modalQuestionDialogPrint').collapse('toggle');$('#modalQuestionDialogDataPDL').modal({backdrop: true}).collapse('show');" type="button">${label_si}</button>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="modal inmodal fade" id="modalQuestionDialogInterferenze" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header"><span class="modal-title"></span></div>
				<div class="modal-body"><span class="modal-text"></span></div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-white btn-sm" onclick="$('#RISPOSTA_VERIFICA').val('N');$('#formVerifica').submit();$('#modalQuestionDialog').collapse('hide');">${label_no}</button>
					<button class="btn btn-primary btn-sm" onclick="$('#modalQuestionDialog').collapse('toggle');$('#RISPOSTA_VERIFICA').val('S');$('#formVerifica').submit();" data-dismiss="modal" type="button">${label_si}</button>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="modal inmodal fade" id="modalQuestionDialogDataPDL" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">Stampa PdL</div>
				<div class="modal-body">Vuoi stampare il PdL con la data odierna?</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-white btn-sm" onclick="$('#modalQuestionDialogDataPDL').collapse('toggle');$('#DATA_OGGI').val('N');$('#formStampa').submit();">${label_no}</button>
					<button class="btn btn-primary btn-sm" onclick="$('#modalQuestionDialogDataPDL').collapse('toggle');$('#DATA_OGGI').val('S');$('#formStampa').submit();" data-dismiss="modal" type="button">${label_si}</button>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="modal inmodal fade" id="modalQuestionDialogDataPDLRaccolta" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">Stampa Raccolta PDL</div>
				<div class="modal-body">Vuoi stampare i PdL selezionati con la data odierna?</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-white btn-sm" onclick="$('#modalQuestionDialogDataPDLRaccolta').collapse('toggle');$('#DATA_OGGI_ZIP').val('N');$('#formStampaZipA4').submit();">${label_no}</button>
					<button class="btn btn-primary btn-sm" onclick="$('#modalQuestionDialogDataPDLRaccolta').collapse('toggle');$('#DATA_OGGI_ZIP').val('S');$('#formStampaZipA4').submit();" data-dismiss="modal" type="button">${label_si}</button>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="modal inmodal fade" id="modalQuestionDialogDataPDLRaccoltaA3" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">Stampa Raccolta PDL</div>
				<div class="modal-body">Vuoi stampare i PdL selezionati con la data odierna?</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-white btn-sm" onclick="$('#modalQuestionDialogDataPDLRaccoltaA3').collapse('toggle');$('#DATA_OGGI_ZIP').val('N');$('#formStampaZipA3').submit();">${label_no}</button>
					<button class="btn btn-primary btn-sm" onclick="$('#modalQuestionDialogDataPDLRaccoltaA3').collapse('toggle');$('#DATA_OGGI_ZIP').val('S');$('#formStampaZipA3').submit();" data-dismiss="modal" type="button">${label_si}</button>
				</div>
			</div>
		</div>
	</div>	
	
	
	<div class="modal inmodal fade" id="modalQuestionDialogAvanzamento" tabindex="-1" role="dialog" aria-hidden="true">
	    <div class="modal-dialog modal-sm">
	        <div class="modal-content">
	            <div class="modal-header">
	                <span class="modal-title"></span>
	            </div>
	            <div class="modal-body">
	                <span class="modal-text"></span>
	                
	                <div class="form-group" style="margin-top: 15px;">
	                    <label><strong>MOTIVAZIONE:</strong></label>
	                    <textarea id="MOTIVAZIONE" name="MOTIVAZIONE" class="form-control" rows="4" placeholder="Specificare il motivo..."></textarea>
	                </div>
	            </div>
	            <div class="modal-footer">
	                <button type="button" data-dismiss="modal" class="btn btn-white btn-sm" onclick="$('#modalQuestionDialogAvanzamento').collapse('hide');">${label_no}</button>
	                <button class="btn btn-primary btn-sm" onclick="$('#modalQuestionDialogAvanzamento').collapse('toggle');$('#formAvanza').submit();" data-dismiss="modal" type="submit">${label_si}</button>
	            </div>
	        </div>
	    </div>
	</div>
	
	
	
	<div class="modal fade" id="modalAvvisoDuplicazione" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	<div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header" style="background-color: #D7001E; color: white;">
	                <h4 class="modal-title" id="myModalLabel"><b>ATTENZIONE</b></h4>
	            </div>
	            <div class="modal-body">
	                <div class="text-center">
	                    <i class="fa fa-exclamation-triangle fa-3x" style="color: #D7001E; margin-bottom: 15px;"></i>
	                    <p style="font-size: 16px;">
	                        <b>QUESTA FUNZIONALITÀ NON È ANCORA ATTIVA.</b><br>
	                    </p>
	                </div>
	            </div>
	            <div class="modal-footer">
				    <button type="button" 
				            class="btn" 
				            data-dismiss="modal" 
				            onclick="location.href='astro?FUNCTIONID=Home'"
				            style="background-color: #D7001E; color: white; border: none; font-weight: bold;">
				        Ho capito, procedi
				    </button>
				</div>
	        </div>
	    </div>
	</div>
	
	
	<div id="wrapper">

		<#if INCLUDED_MENU?exists><#include INCLUDED_MENU></#if>

		<div id="page-wrapper" class="gray-bg">
		
			<#if INCLUDED_HEADER?exists><#include INCLUDED_HEADER></#if>
           
			<div class="row">
                <div class="col-sm-12">
				
                    <div class="ibox float-e-margins">
					
						<!-- bread crumb-->
	                    <div class="ibox-title">
							<#if INCLUDED_BOX_TITLE?exists><#include INCLUDED_BOX_TITLE></#if>
	                    </div>						

						<!-- contenuto form-->
                        <div class="ibox-content">
                                   
							<div class="row">
								<div class="col-sm-12">							
							
									<form action="astro" method="get" id="formSearch" name="formSearch" class="form-horizontal">
										<input type="hidden" id="FUNCTIONID" name="FUNCTIONID" value="RicercaPDL">
										
		                                <div class="form-group">
		                                	<label class="col-sm-2 control-label-left">${label_sito}</label>
		                                    <div class="col-sm-4">
			                                    <select id="ID_AZIENDA" name="ID_AZIENDA"  class="form-control">
			                                    </select>
											</div>
											
		                                	<label class="col-sm-2 control-label-left">Impianto:</label>
		                                    <div class="col-sm-4">
			                                    <select id="ID_IMPIANTO" name="ID_IMPIANTO"  class="form-control">
			                                    </select>
											</div>
		                                </div>
		                                    
		                                <div class="form-group">
		                                	<label class="col-sm-2 control-label-left">Area di lavoro:</label>
		                                    <div class="col-sm-4">
			                                    <select id="ID_AREA" name="ID_AREA"  class="form-control">
			                                    </select>
											</div>
											
		                                	<label class="col-sm-2 control-label-left">Equipment:</label>
		                                    <div class="col-sm-4">
			                                    <select id="ID_EQUIPMENT" name="ID_EQUIPMENT"  class="form-control">
			                                    </select>
											</div>
		                                </div>
		                                    
		                                <div class="form-group">
		                                	<label class="col-sm-2 control-label-left">Permit Requester:</label>
		                                    <div class="col-sm-4">
			                                    <select id="NOMINATIVO_RICHIEDENTE" name="NOMINATIVO_RICHIEDENTE"  class="form-control">
			                                    </select>
											</div>
											
											<label class="col-sm-2 control-label-left">Permit Issuer:</label>
		                                    <div class="col-sm-4">
			                                    <select id="RESPONSABILE_CENTRALE_DELEGATO" name="RESPONSABILE_CENTRALE_DELEGATO"  class="form-control">
			                                    </select>
											</div>
		                                </div>
		                                    
		                                <div class="form-group">
		                                	<label class="col-sm-2 control-label-left">Descrizione lavoro</label>
		                                    <div class="col-sm-4"><input type="text" class="form-control" id="DESCRIZIONE_LAVORO" name="DESCRIZIONE_LAVORO"></div>
		                                    
		                                	<label class="col-sm-2 control-label-left">OdL/Investimento:</label>
		                                    <div class="col-sm-4"><input type="text" class="form-control" id="ODL" name="ODL"></div>
		                                </div>
		                                
		                                <div class="form-group">
		                                	<label class="col-sm-2 control-label-left">Impresa:</label>
		                                    <div class="col-sm-4">
			                                    <select id="IMPRESA_TESTO" name="IMPRESA_TESTO"  class="form-control">
			                                    </select>
											</div>
											
		                                	<label class="col-sm-2 control-label-left">Stato Permesso:</label>
		                                    <div class="col-sm-4">
			                                    <select id="STATO" name="STATO"  class="form-control" multiple>
			                                    </select>
												<input type="checkbox" id="CHECKBOX_STATO">${label_select_all}
											</div>
		                                </div>
		                                
		                                <div class="form-group">
		                                	<label class="col-sm-2 control-label-left">Anno:</label>
		                                    <div class="col-sm-4">
			                                    <select id="ANNO" name="ANNO" class="form-control">
			                                    </select>
											</div>

		                                	<label class="col-sm-2 control-label-left">Nr.PdL:</label>
		                                    <div class="col-sm-4"><input type="text" class="form-control" id="NR_PDL" name="NR_PDL"></div>
		                                </div>
		                                
		                                <div class="form-group">
		                                	<label class="col-sm-2 control-label-left">Stato fermata:</label>
		                                    <div class="col-sm-4">
			                                    <select id="FERMATA" name="FERMATA"  class="form-control" multiple>
			                                    </select>
												<input type="checkbox" id="CHECKBOX_FERMATA">${label_select_all}
											</div>
											
											<!-- <#if PROFILO?contains('PLA') || PROFILO?contains('SPL') || PROFILO?contains('ADM')>
												<label class="col-sm-2 control-label-left">Visualizza PdL cancellati</label>
			                                    <div class="col-sm-4">
				                                   <input id="CANCELLATO" name="CANCELLATO" type="checkbox">
												</div>
											</#if>-->
		                                </div>
		                                
		                                
		                                
		                                
		                                <div class="form-group">
		                                	<label class="col-sm-2 control-label-left">Ricerca in linea:</label>
		                                    <div class="col-sm-10">
				                                <input type="text" id="free-text-search" name="free-text-search"  class="form-control" placeholder="digita il testo che vuoi cercare per aggiornare subito i risultati">
											</div>
		                                </div>
		                                
		                                
										<div class="form-group">
											<div class="col-sm-6">
												<button class="btn btn-primary btn-sm" id="ricerca" type="submit" name="ricerca">${label_search}</button>
												<button class="btn btn-primary btn-sm" type="button" id="report" name="report">PDF</button>
												<button class="btn btn-primary btn-sm" type="button" id="excel" name="excel">XLS</button>
												<button class="btn btn-primary btn-sm" type="button" id="csv" name="csv">CSV</button>
												
											 	<!-- 
											 	 <#if !PROFILO?contains('DLV')>
												<button class="btn btn-primary btn-sm" id="stampaA3" type="button" name="stampaA3">Stampa PDL (A3)</button>
												<button class="btn btn-primary btn-sm" id="stampaA4" type="button" name="stampaA4">Stampa PDL (A4)</button>
												</#if>
												-->
											</div>
											
											<div class="col-sm-6">
												<fieldset>
													${label_legenda}:
													<!-- <i class="fa fa-square-o" aria-hidden="true"></i>Selezione per Raccolta Pdl -->
													<#if PROFILO?contains('VPL')>
													<i class="fa fa-search" aria-hidden="true"></i>${label_view}
													<#else>
													<i class="fa fa-pencil" aria-hidden="true"></i>${label_edit}
													<!-- <i class="fa fa-trash-o" aria-hidden="true"></i>${label_delete} -->
													<!-- <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Approva PdL -->
													<i class="fa fa-thumbs-o-down" aria-hidden="true"></i>Rifiuta PdL
													</#if>
												</fieldset>											
											</div>
											
										</div>				
									
									</form>
									
									<div class="hr-line-dashed"></div>
						

			
			                        <div class="table-responsive">
										<table id="dt" class="table table-striped table-bordered" >
											<thead>
												<tr>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th><!-- <img src="img/ita.jpg"/> --></th>
													<th><!-- <img src="img/ita.jpg"/> --></th>
													<th><!-- <img src="img/en.jpg"/> --></th>
													<th><!-- <img src="img/en.jpg"/> --></th>
													<th></th>
													<th>Nr.PdL</th>
													<th>Possibile interferenza con Nr.PdL</th>
													<th></th>
													<th>Data creazione</th>
													<th>Stato</th>
													<th>Impianto</th>
													<th>Area</th>
													<th>Equipment</th>
													<th>Descrizione Lavoro&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
													<th>Permit Requester</th>
													<th>Permit Issuer</th>
													<th>Impresa</th>
													<th>Preposto Impresa 1</th>
													<th>Preposto Impresa 2</th>
													<th>Pers.Interno</th>
													<th>Delegato Lavori ALI 1</th>
													<th>Delegato Lavori ALI 2</th>
													<th>OdL / Invest.</th>
													<th>Motivo sospensione</th>
													<th>Motivo scadenza</th>
													<th>Stato fermata</th>
													<th></th>
													<th>Utente verifica interferenza preventiva</th>
													<th>Data verifica interferenza preventiva</th>
													<th>Ora verifica interferenza preventiva</th>
													<th>Possibile interferenza</th>
													<th></th>
													<th></th>
													<th></th>
													<th>Utente prima attiv.</th>
													<th>Data prima attiv.</th>
													<th>Utente ultima attiv.</th>
													<th>Data ultima attiv.</th>
													<th>Ora ultima attiv.</th>
													<th>Rev.</th>
													<th>Motivo rifiuto</th>
												</tr>
											</thead>
										
										</table>
			                        </div>

                    			</div>
					
                			</div>
						</div>
            		</div>
				</div>
			</div>
						
			<#if INCLUDED_FOOTER_PDLWEB?exists><#include INCLUDED_FOOTER_PDLWEB></#if>
		
		</div>

	</div>
	

</body>

</html>
