<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<#if INCLUDED_HEAD?exists><#include INCLUDED_HEAD></#if> 
	
    <script type="text/javascript">
    	var profilo="<#if PROFILO?exists>${PROFILO}</#if>";
		var flagRicerca=false;
		var dtAjax="astro?FUNCTIONID=AJAXArray&dataset=DSStoricoInterferenze&columns=ID_MODULO,NOME_FILE,DATA_STAMPA,ORA_STAMPA,RAGSOC,DESCR_IMPIANTO,UTENTE,NOME_FILE&JOLLY_CHAR=*&WHERECONDITION=";
		var dtWhereCondition=" WHERE 1=1 <#if ANNO?exists> AND SUBSTRING(DATA_STAMPA,1,4) = '${ANNO}' </#if>";
		
		$(function(){
			
			$("#ID_AZIENDA").trigger("loadDataSet",["DSSitiPDL","ID_AZIENDA","RAGSOC","<#if ID_AZIENDA?exists>${ID_AZIENDA}</#if>"," WHERE 1=1 ",false]);
			$("#ID_IMPIANTO").trigger("loadDataSet",["DSImpianti","ID_IMPIANTO","DESCR_IMPIANTO","<#if ID_IMPIANTO?exists>${ID_IMPIANTO}</#if>"," WHERE 0=1 "]);
			$("#ID_UTENTE_RICERCA").trigger("loadDataSet",["DSUtenti","ID_UTENTE","NOME_COGNOME","<#if ID_UTENTE_RICERCA?exists>${ID_UTENTE_RICERCA}</#if>"," WHERE 0=1 "]);
			$("#ANNO").trigger("loadDataSet",["OpzioneAnno","CODICE","DESCR","<#if ANNO?exists>${ANNO}</#if>",""]);
			
			if (profilo.indexOf("INT")!=-1 || profilo.indexOf("PLA")!=-1 || profilo.indexOf("SPL")!=-1 || profilo.indexOf("ADM")!=-1){
				$("#utente_ricerca").show();		
			}else{
				$("#utente_ricerca").hide();
			}
			
			$("#ID_AZIENDA").on("select2:selecting", function(e) { 
				var id= e.params.args.data.id;
				$("#ID_IMPIANTO").empty();
				$("#ID_IMPIANTO").select2("destroy");
				$("#ID_IMPIANTO").trigger("loadDataSet",["DSImpianti","ID_IMPIANTO","DESCR_IMPIANTO",""," WHERE ID_AZIENDA="+id+" "]);
				
				$("#ID_UTENTE_RICERCA").empty();
				$("#ID_UTENTE_RICERCA").select2("destroy");
				$("#ID_UTENTE_RICERCA").trigger("loadDataSet",["DSUtenti","ID_UTENTE","NOME_COGNOME",""," WHERE position('"+id+"' in AZIENDE_UTENTE)>0 "]);
				
			});		  
			
			
			
	        $('#dt').DataTable({
				ajax: dtAjax+dtWhereCondition,
				pageLength:25,
				columnDefs: [
					{
						targets:0,
						visible: false
					},
					{
						width:"1%",
						targets:1,
						render: function ( data, type, row, meta ) {
							if(type === 'display'){
								data = '<a href="astro?FUNCTIONID=DownloadStoricoInterferenze&fileName='+data+'" title="Stampa"><i class="fa fa-file-pdf-o fa-color-auto" aria-hidden="true"></i></a>';
							}
	
							return data;
						}
					}
				],
				
                dom: '<"html5buttons"B>lTfgitp',
                language: {
			        url: 'locales/${CURRENT_SELECTED_ISO_LANGUAGE}.json'
			    },
    
                buttons: [
                    {extend: 'csv', title: $(document).find("title").text()},
                    {extend: 'excel', title: $(document).find("title").text()},
                    {extend: 'pdf', title: $(document).find("title").text(), orientation: 'landscape'}
                ],
                "drawCallback": function( settings ) {
                	$(".dataTables_filter").hide();    
                	$(".html5buttons").hide();   
    	    		
                	var dataCount=$('#dt').DataTable().column( 0 ).data().length;
    	    		if(dataCount==0 && flagRicerca) {
    					$('.modal-title').html('Attenzione!');
    					$('.modal-text').html('Nessun risultato ottenuto: controllare i filtri impostati per la ricerca...');
    					$("#modalAlert").modal({backdrop: true});
    					$('#modalAlert').collapse("show");	    			
    	    		}
    	    		
                },
				aaSorting: []

            });
		
	        $('#free-text-search').keyup(function(){
	        	$('#dt').DataTable().search($(this).val()).draw() ;
	        })	        
	        
	        $("#formDelete").submit(function(event) {
				
				/* stop form from submitting normally */
				event.preventDefault();

				/* Send the data using post */
				$.post( $( this ).attr( 'action' ), $(this).serialize(),function( response ) { 
					var result = eval('('+response+')');
					$( "#dt" ).DataTable().ajax.reload();
					$( ".alert-success" ).text( result.message ).fadeIn("slow").delay(1500).fadeOut("slow");
				});
			});			
			
					
			
			$("#formSearch").validate();
			
			$("#formSearch").submit(function(event) {
				
				
				/* stop form from submitting normally */
				event.preventDefault();			
				
				
	
				if (!$("#formSearch").valid()) {
					return false;
				}		
				
				flagRicerca=true;
				dtWhereCondition="";

	    		var idAzienda=$("#ID_AZIENDA").val();
	    		if (idAzienda != null && idAzienda != "") {
	    			dtWhereCondition+=" AND si.ID_AZIENDA = "+idAzienda+" ";
	    		}
	    		
	    		var idImpianto=$("#ID_IMPIANTO").val();
	    		if (idImpianto != null && idImpianto != "") {
	    			dtWhereCondition+=" AND si.ID_IMPIANTO = "+idImpianto+" ";
	    		}
	    		
	    		var idUtente=$("#ID_UTENTE_RICERCA").val();
	    		if (idUtente != null && idUtente != "") {
	    			dtWhereCondition+=" AND si.ID_UTENTE = "+idUtente+" ";
	    		}
	    		
	    		var anno=$("#ANNO").val();
	    		if (anno != "") {
	    			dtWhereCondition+=" AND SUBSTRING(DATA_STAMPA,1,4) = '"+anno+"' ";
	    		}
	    		
	    		$( "#dt" ).DataTable().ajax.url( dtAjax+dtWhereCondition ).load();
				
			});			
			
	        
	      $( "#report" ).click(function() {
	    		var dataCount=$('#dt').DataTable().column( 0 ).data().length;
	    		if(dataCount>200) {
					$('.modal-title').html('Attenzione!');
					$('.modal-text').html('Il report che si desidera stampare supera le 200 righe. Si consiglia di restringere la ricerca');
					$("#modalAlert").modal({backdrop: true});
					$('#modalAlert').collapse("show");	    			
	    		} else {
		    		$('#dt').DataTable().button( 2 ).trigger();
	    		}
	    		
	    	});
	    	
	    	$( "#excel" ).click(function() {
	    		$('#dt').DataTable().button( 1 ).trigger();
	    	});
	    	
	    	$( "#csv" ).click(function() {
	    		$('#dt').DataTable().button( 0 ).trigger();
	    	});			
	    	
	    });	        
		
		
	
	    
	    
	    

	 $(document).ready(function (){
	    // Array holding selected row IDs
	    var rows_selected = [];
	    var table = $('#dt').DataTable();

	    // Handle click on checkbox
	    $('#dt tbody').on('click', 'input[type="checkbox"]', function(e){
	       var $row = $(this).closest('tr');

	       // Get row data
	       var data = table.row($row).data();

	       // Get row ID
	       var rowId = data[0];

	       // Determine whether row ID is in the list of selected row IDs 
	       var index = $.inArray(rowId, rows_selected);

	       // If checkbox is checked and row ID is not in list of selected row IDs
	       if(this.checked && index === -1){
	          rows_selected.push(rowId);

	       // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
	       } else if (!this.checked && index !== -1){
	          rows_selected.splice(index, 1);
	       }

	       if(this.checked){
	          $row.addClass('selected');
	       } else {
	          $row.removeClass('selected');
	       }

	      

	       // Prevent click event from propagating to parent
	       e.stopPropagation();
	    });

	    // Handle click on table cells with checkboxes
	    $('#dt').on('click', 'tbody td, thead th:first-child', function(e){
	       $(this).parent().find('input[type="checkbox"]').trigger('click');
	    });

	  
	    // Handle form submission event 
	    $( "#stampa" ).click(function() {
			var count=0;
			var arraySelezionati = [];
			
	       // Iterate over all selected checkboxes
	       $.each(rows_selected, function(index, rowId){
	          // Create a hidden element
	          count++;
	         //alert(rowId);
	         arraySelezionati.push(rowId);
	       });
	       
	       
	     
	       
	    });
	    
	    

		$("#formStampa").submit(function(event) {
			event.preventDefault();
			this.submit();
			setTimeout(function(){
				$( "#dt" ).DataTable().ajax.reload();
			}, 100);
		});		
		
		
		
	 });
		
    </script> 

</head>

<body>
	
	<form action="astro" method="post" id="formStampa" name="formStampa">
		<input type="hidden" id="FUNCTIONID" name="FUNCTIONID" value="StampaLIMOD70">	
		<input type="hidden" id="ID_MODULO_STAMPA" name="ID_MODULO">
	</form>
	
	
	<div id="wrapper">

		<#if INCLUDED_MENU?exists><#include INCLUDED_MENU></#if>

		<div id="page-wrapper" class="gray-bg">
		
			<#if INCLUDED_HEADER?exists><#include INCLUDED_HEADER></#if>
           
			<div class="row">
                <div class="col-sm-12">
				
                    <div class="ibox float-e-margins">
					
						<!-- bread crumb-->
	                    <div class="ibox-title">
							<#if INCLUDED_BOX_TITLE?exists><#include INCLUDED_BOX_TITLE></#if>
	                    </div>						

						<!-- contenuto form-->
                        <div class="ibox-content">
                                   
							<div class="row">
								<div class="col-sm-12">							
							
									<form action="astro" method="get" id="formSearch" name="formSearch" class="form-horizontal">
										<input type="hidden" id="FUNCTIONID" name="FUNCTIONID" value="StoricoInterferenze">
										
										
										<div class="form-group">
		                                	<label class="col-sm-2 control-label-left">${label_sito}</label>
		                                    <div class="col-sm-4">
			                                    <select id="ID_AZIENDA" name="ID_AZIENDA"  class="form-control">
			                                    </select>
											</div>
											
		                                	<label class="col-sm-2 control-label-left">Impianto:</label>
		                                    <div class="col-sm-4">
			                                    <select id="ID_IMPIANTO" name="ID_IMPIANTO"  class="form-control">
			                                    </select>
											</div>
		                                </div>
		                                
		                                 <div class="form-group">
		                                	<label class="col-sm-2 control-label-left">Anno:</label>
		                                    <div class="col-sm-4">
			                                    <select id="ANNO" name="ANNO" class="form-control">
			                                    </select>
											</div>

											<div id="utente_ricerca">
		                                		<label class="col-sm-2 control-label-left">Utente:</label>
		                                    	<div class="col-sm-4">
			                                    	<select id="ID_UTENTE_RICERCA" name="ID_UTENTE_RICERCA"  class="form-control">
			                                    	</select>
												</div>
											</div>
		                                </div>
										
		                              
										<div class="form-group">
										
		                                	<label class="col-sm-2 control-label-left">Ricerca in linea:</label>
		                                    <div class="col-sm-10">
				                                <input type="text" id="free-text-search" name="free-text-search"  class="form-control" placeholder="digita il testo che vuoi cercare per aggiornare subito i risultati">
											</div>
											
										</div>												
		                                
										<div class="form-group">
										
											<div class="col-sm-3">
												<button class="btn btn-primary btn-sm" id="ricerca" type="submit" name="ricerca">${label_search}</button>
												<button class="btn btn-primary btn-sm" type="button" id="report" name="report">PDF</button>
												<button class="btn btn-primary btn-sm" type="button" id="excel" name="excel">XLS</button>
												<button class="btn btn-primary btn-sm" type="button" id="csv" name="csv">CSV</button>
											</div>
											
											<div class="col-sm-9">
												<fieldset>
													${label_legenda}:
													<i class="fa fa-file-pdf-o" aria-hidden="true"></i>PDF A4
												</fieldset>
											</div>
										</div>			
										

										
									
									</form>
									
									<div class="hr-line-dashed"></div>
						
									
			
			                        <div class="table-responsive">
										<table id="dt" class="table table-striped table-bordered table-hover" >
											<thead>
												<tr>
													<th></th>
													<th></th>
													<th>Data</th>
													<th>Ora</th>
													<th>Sito</th>
													<th>Impianto</th>
													<th>Utente</th>
													<th>File</th>
												</tr>
											</thead>
										
										</table>
			                        </div>

                    			</div>
					
                			</div>
						</div>
            		</div>
				</div>
			</div>
						
			<#if INCLUDED_FOOTER_PDLWEB?exists><#include INCLUDED_FOOTER_PDLWEB></#if>
		
		</div>

	</div>
	

</body>

</html>
